html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#gmap {
    height: 600px;
    width: 800px;
}

div > .mapMarker,
div > .clusterMarker {
    z-index: 1000;
    position: absolute;
    color: #fff;
    width: 24px;
    height: 20px;
    margin-left: -12px;
    margin-top: -12px;
    text-align: center;
    padding-top: 4px;
    font-size: 8px;
    background: url(../img/circle2.png) no-repeat top left;
    -webkit-transition: left .4s ease-out .3s, top .4s ease-out .3s, opacity .5s ease;
    -moz-transition: left .4s ease-out .3s, top .4s ease-out .3s;
    -o-transition: left .4s ease-out .3s, top .4s ease-out .3s;
}

div > .mapMarker:hover,
div > .clusterMarker:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}


div > .mapMarker {
    background: url(../img/circle.png) no-repeat top left;
    z-index: 100;
}
