!!! 5
%html
  %head
    %title Google maps
    %meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no'}
    %script{:type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?v=3.3&sensor=false'}

    = include_stylesheets :common
    = include_javascripts :data, :lib, :app

  %body
    = yield